*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

.classpath
.idea
.project
.settings/*
api/.classpath
api/.project
api/.settings/*
api/target/*
api-1.9/.classpath
api-1.9/.project
api-1.9/.settings/*
api-1.9/target/*
api-1.10/.classpath
api-1.10/.project
api-1.10/.settings/*
api-1.10/target/*
omod/.classpath
omod/.project
omod/.settings/*
omod/target/*
